.parallax {
  overflow: hidden;
  line-height: 1;
  display: flex;
}

.parallax .scroller {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 160px;
  display: flex;
  white-space: nowrap;
  flex-wrap: nowrap;
}

.parallax span {
  display: block;
  margin-right: 120px;
}
