@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

html {
  /* scroll-snap-type: y proximity; */
}

section {
  scroll-snap-align: start;
}

body {
  display: flex;
  justify-content: center;

  overflow-y: overlay;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer components {
  .center-absolute {
    @apply transform top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }

  .btn {
    @apply font-bold py-2 px-4 m-2 rounded;
  }
  .sm {
    @apply px-2;
  }

  .md {
    @apply px-4;
  }

  .lg {
    @apply px-8;
  }

  .xl {
    @apply px-16;
  }

  /*button colors: default, primary, info, success, warning, danger*/
  .default {
    @apply bg-gray-100 text-gray-800;
  }
  .default:hover {
    @apply bg-gray-200 text-gray-800;
  }

  .primary {
    @apply bg-cyan-700 text-white;
  }
  .primary:hover {
    @apply bg-cyan-900 text-white;
  }

  .success {
    @apply bg-green-500 text-white;
  }
  .success:hover {
    @apply bg-green-600 text-white;
  }

  .info {
    @apply bg-blue-500 text-white;
  }
  .info:hover {
    @apply bg-blue-600 text-white;
  }

  .warning {
    @apply bg-yellow-400 text-white;
  }
  .warning:hover {
    @apply bg-yellow-500 text-white;
  }

  .danger {
    @apply bg-red-500 text-white;
  }
  .danger:hover {
    @apply bg-red-600 text-white;
  }
}
