.orbit img {
  width: 10rem;
  height: 10rem;
}
.orbit .center-image {
  position: relative;
}

.orbit .center-image img {
  position: absolute;
  animation: floating 2s alternate infinite;
}

.orbit ul {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 120px;
  height: 120px;
  list-style: none;
  position: relative;
  transform-origin: center;
  animation: orbit 15s linear infinite;
}

.orbit ul li {
  position: absolute;
}

.orbit ul li * {
  animation: orbit 15s linear reverse infinite;
}

.orbit ul li:first-child {
  transform: translate(14rem, 0);
}

.orbit ul li:nth-child(2) {
  transform: translate(8rem, 12rem);
}

.orbit ul li:nth-child(3) {
  transform: translate(-8rem, 12rem);
}

.orbit ul li:nth-child(4) {
  transform: translate(-14rem, 0rem);
}

.orbit ul li:nth-child(5) {
  transform: translate(-8rem, -12rem);
}

.orbit ul li:nth-child(6) {
  transform: translate(10rem, -12rem);
}

@keyframes orbit {
  100% {
    rotate: 1turn;
  }
}

@keyframes floating {
  0% {
    transform: translateY(10%);
  }

  100% {
    transform: translateY(-10%);
  }
}
